body {
    font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
    font-size: 8pt;
	background: #212121; 
	margin: 0;
    padding: 0;
	height: 100%;
}

.wrapper {
	text-align: left;
	width: 100%;
	height: 100%;
	padding: 20% 0px;
	position: relative;
}

.wrapper2 { /*pentru email-gateway*/
	text-align: left;
	width: 100%;
	height: 100%;
	padding: 10% 0px;
	position: relative;
}

.logo {
    width: 150px;
    height: 140px;
	margin: 2px 2px 2px 5px;
    background: url('images/logo_login.png') no-repeat;
}

.main {
	width: 480px;
	height: 140px;
	margin: 0 auto;
	color: #FFFFFF;
	background: #1f1f1f;
	-moz-box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
	box-shadow: 0 0 10px 5px #000;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main2 { /*pentru email-gateway*/
	width: 600px;
	height: 580px;
	margin: 0 auto;
	color: #FFFFFF;
	background: #1f1f1f;
	-moz-box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
	box-shadow: 0 0 10px 5px #000;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
	float:none;
}

.clearfix {
	display:block;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff; 
}

a:hover { color: #E0E0E0; }

input {
	font-family: tahoma;
	font-size: 9pt;
	background: #ffffff;
	padding: 4px 4px;
	border: 1px solid #e2e2e2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input:focus, input:hover {
	border: 1px solid #0099FF;
}

input.btn{background:url('images/buttons/btn.gif');background-repeat:no-repeat;background-color:transparent;background-position:0 0;width:70px;height:20px;padding: 2px 0px 4px 0px;font-size:7pt;border:none;cursor:pointer;color:#555!important;}
input.btn:hover{background:url('images/buttons/btn.gif');background-repeat:no-repeat;background-color:transparent;background-position:0 -20px;width:70px;height:20px;padding: 2px 0px 4px 0px;font-size:7pt;border:none;cursor:pointer;color:#fff!important;}

input#username, input#password {
	padding-left: 20px;
}
input#username {
	background: #ffffff url('images/username.png') 4px center no-repeat;
}
input#password {
	background: #ffffff url('images/password.png') 4px center no-repeat;
}

input {
    font-family: tahoma;
    font-size: 9pt;
    background: #ffffff;
    padding: 4px 4px;
    border: 1px solid #e2e2e2;
    max-width: 280px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}